.page {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
  min-height: 100vh;
	background: #e5e5e5;

	&Wrapper {
    position: relative;
		width: 100%;
		max-width: 1440px;
    background: #fff;
	}
}

